body {
    margin: 0;
    background-color: #f3f3ef; 
    padding:0;  
}

.home_body{
    width:100%;
    padding:0px 15%;
    display:flex;
}
.sidebar{
  margin: 7px;
}
.TopContributors{
  margin: 10px;
}