.feed {
    display: flex;
    flex:0.9;
    flex-direction: column;
    margin-left:10px;
    background-color: white;
    
}

.feed .feed_starting{
   display: flex;
   background-color: grey;
   padding:10px;
   border-radius: 10px;;
}