
.searchBar{
    display:flex;
    justify-content:center;
    position:fixed;
    height:50px;
    border-bottom:1px solid black;
    z-index:3;
    width:100%;
    background-color: #7888de;
    margin-bottom:20px;
    padding:15px 0 10px 0

}

.Searchform{
    display: flex;
}

.Searchinput input{
        height:30px !important;
        width:400px !important;
        border-radius:7px 0 0 7px;
        padding-left:10px;
        outline:none;
        border:0.6px solid black;
        border-right:none;
        font-size:16px
}

.searchButton{
    border:1px solid black !important;
    border-radius:0 6px 6px 0 !important;
    height:34px;
    background-color: rgb(245, 242, 242) !important;
    color:black !important;
}

.projectStyle{
    margin-top:70px;
    text-align:center;
    font-size:30px
}


.projectTechused{
    display:flex;
    justify-content:space-evenly;
    margin-top:9px;
    flex-wrap:wrap;
    line-height:1px
}
.projectCard {

    margin-bottom:30px;
    border:3px solid white;
 
    height:max-content;
    color: black !important;
    margin-right:12px

}
.filter{

    display: flex;
    width:100%;
    position: absolute;
    margin-top: 90px;
    justify-content: flex-end;
    
    
}

.filter button:nth-of-type(2){
    background-color: green;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

.filter button{
    background-color: black;
    color: white;
    border: none;
    width:90px;
    height: 30px;
    border-radius: 10px;


}
.filter button:hover{
    background-color: rgba(0,0,0,0.8);
}